
/* Basic styles */
body,
html {
margin: 0;
padding: 0;
font-family: Arial, sans-serif;
background-color: #333; /* Updated background color */
color: white; /* Updated text color */
}

#app {
padding: 20px;
}

.filter {
display: flex;
justify-content: center;
margin-top: 20px;
}

.filter-item {
cursor: pointer;
padding: 10px;
position: relative;
color: white; /* Updated text color */
transition: color 0.3s ease; /* Smooth color transition */
}

.filter-item::after {
content: '';
position: absolute;
bottom: -5px;
left: 0;
width: 0;
height: 2px;
background-color: white; /* Updated underline color */
transition: width 0.3s ease;
}

.filter-item.active::after {
width: 100%;
}

/* Animation for underlines */
@keyframes slide {
0% {
transform: scaleX(0);
}
100% {
transform: scaleX(1);
}
}

/* Styles for movie cards */
.movie-cards {
display: flex;
flex-wrap: wrap;
gap: 30px; /* Increased gap between cards */
justify-content: flex-start; /* Align cards to the start */
}

.movie-card {
width: 250px; /* Updated width */
height: 350px; /* Updated height */
text-decoration: none; /* Remove underline from links */
color: inherit; /* Inherit text color */
position: relative; /* Positioning context for poster */
overflow: hidden; /* Hide overflow to prevent text spillover */
border-radius: 10px; /* Rounded corners */
background-color: #444; /* Updated card background color */
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for cards */
transition: transform 0.3s ease, opacity 0.3s ease; /* Animation on filter */
opacity: 1; /* Initially visible */
margin: 10px; /* Updated margin */
display: flex;
flex-direction: column;
justify-content: space-between; /* Ensure title is at the bottom */
}

.movie-cards-container {
display: flex;
flex-wrap: wrap;
gap: 30px; /* Increased gap between cards */
padding: 20px;
justify-content: flex-start;
}

.movie-card img {
width: 100%;
height: auto;
border-radius: 15px; /* Rounded edges */
transition: filter 0.3s ease;
}

.movie-card .play-button {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
opacity: 0;
transition: opacity 0.3s ease;
}

.movie-card .play-button img {
width: 50px;
height: 50px;
}

.movie-card:hover img {
filter: blur(4px);
}

.movie-card:hover .play-button {
opacity: 1;
}

.movie-card:hover {
transform: translateY(-10px);
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-title {
font-size: 16px;
font-weight: bold;
text-align: center;
padding: 10px;
background-color: #333;
margin-top: -5px;
transition: color 0.3s ease; /* Add transition for text color change on hover */
}

/* Media Queries for Mobile Devices */
@media only screen and (max-width: 767px) {
.movie-card {
width: 100%; /* Full width on mobile */
margin: 10px 0; /* Adjust margin for spacing */
}
}
