.card-container {
    margin-top: 20px; /* Add separation from the filter */
    display: flex; /* Keep flex layout for cards */
    flex-wrap: wrap; /* Ensure cards wrap respons-content: flex-start; /* Align cards to the left */
    position: relative; /* Prevent overlap or positioning issues */
    z-index: 1;
}


.card {
    width: calc(16.66% - 14px);
    margin: 0 7px 14px;
    background: #2a2c31;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

.poster {
    position: relative;
    width: 100%;
    padding-bottom: 130%;
    overflow: hidden;
}

.image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.poster:hover .overlay {
    opacity: 1;
}

.info-left, .info-right {
    position: absolute;
    bottom: 10px;
    z-index: 3;
}

.info-left {
    left: 10px;
}

.info-right {
    right: 10px;
}

.btn, .btn-episode {
    font-size: 12px;
    font-family: Arial, sans-serif;
    font-weight: 600;
    padding: 4px 8px;
    border-radius: 5px;
    background: #fff;
    color: #111;
    margin-right: 4px;
    transition: background 0.3s;
}

.btn:hover, .btn-episode:hover {
    background: #e0e0e0;
}

.btn-episode {
    background: #7bfcfc;
}

.details {
    color: #aaa;
    font-size: 12px;
    padding: 10px;
    border-radius: 0 0 10px 10px;
}

.name {
    color: #fff;
    font-size: 14px;
    margin: 0;
    font-weight: 500;
    margin-bottom: 8px;
    line-height: 1.3em;
}

/* Play button styling */
.play-button {
    position: absolute;
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; /* Hide initially */
    transition: opacity 0.5s;
}

.overlay:hover .play-button {
    opacity: 1; /* Show on hover */
}

/* Responsive styles */
@media (max-width: 1024px) {
    .card {
        width: calc(25% - 14px);
    }
}

@media (max-width: 760px) {
    .card {
        width: calc(33% - 14px);
    }
}

@media (max-width: 480px) {
    .card {
        width: calc(50% - 6px);
        margin: 0 3px 6px;
    }
}
